<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Popularidad de las sugerencias</title>

</head>

<body>

<div class="container">
    <h1>Popularidad de las sugerencias</h1>
    <table class="table" id="table">
        <tr>
            <th>Nombre</th>
            <th>Comentarios</th>
            <th>Apoyos</th>
        </tr>
        <tr th:each="est : ${estadisticas}">
            <td th:text="${est.titulo}">Onions</td>
            <td th:text="${est.campos.get('Comentarios')}">2.41</td>
            <td th:text="${est.campos.get('Apoyos')}">2.41</td>
        </tr>
    </table>
</div>

</body>
</html>